In [2]:
import pandas as pd
import numpy as np 
import glob
import os

In [12]:
a = (input("Enter the path to the working directory: "))
os.chdir(a)

Enter the path to the working directory:
 You C:\Users\Laura\Documents\Random Python 3.11\control_charts

In [6]:
all_filenames = [i for i in glob.glob('*.csv')]
print(all_filenames)

df = pd.concat([pd.read_csv(f, skiprows = 12) for f in all_filenames], ignore_index=True)
df.reset_index(drop=True)
filt = (
    (df['Sample Name'] == 'PC') | 
    (df['Sample Name'] == 'PC1') |
    (df['Sample Name'] == 'PC2') |
    (df['Sample Name'] == 'PC-1') |
    (df['Sample Name'] == 'PC-2') |
    (df['Sample Name'] == 'pc1') |
    (df['Sample Name'] == 'pc2') |
    (df['Sample Name'] == 'NC') | 
    (df['Sample Name'] == 'NC2') |
    (df['Sample Name'] == 'NC-1') | 
    (df['Sample Name'] == 'NC-2') | 
    (df['Sample Name'] == 'NC-3')
    )

df = df[filt]
df = df[['Batch ID', 'Sample Name', 'ORF1ab Ct', 'N gene Ct', 'S gene Ct', 'MS2 Ct']]
df

['C38423-02921_analysis_data_1673639259287.csv', 'C38423-02922_analysis_data_1673313885958.csv', 'C38423-02923_analysis_data_1673380349587.csv', 'C38423-02924a_analysis_data_1673401937384.csv', 'C38423-02925_analysis_data_1673475182130edit.csv', 'C38423-02926_analysis_data_1673500427417.csv', 'C38423-02927_analysis_data_1673575715300.csv', 'C38423-02928_analysis_data_1673627224295.csv']

          Batch ID Sample Name  ORF1ab Ct  N gene Ct  S gene Ct     MS2 Ct
2     C38423-02921          NC        NaN        NaN        NaN  22.610998
3     C38423-02921         NC2        NaN        NaN        NaN  23.259083
4     C38423-02921         PC1  29.406336  29.924595  28.630323        NaN
5     C38423-02921         PC2  29.392448  30.365715  29.233480        NaN
40    C38423-02922          NC        NaN        NaN        NaN  23.015373
41    C38423-02922          PC  28.969862  29.842380  28.338170        NaN
42    C38423-02922        PC-1  28.544476  29.958744  28.318045        NaN
123   C38423-02923          NC        NaN        NaN        NaN  23.483229
124   C38423-02923        NC-2        NaN        NaN        NaN  23.256670
125   C38423-02923          PC  27.966673  29.889332  26.784550        NaN
126   C38423-02923        PC-1  28.443363  29.385735  24.890034        NaN
143  C38423-02924a          NC        NaN        NaN        NaN  22.664686
144  C38423-02924a        NC-2        NaN        NaN        NaN        NaN
145  C38423-02924a        NC-3        NaN        NaN        NaN        NaN
206   C38423-02926          NC        NaN        NaN        NaN  22.850267
207   C38423-02926         NC2        NaN        NaN        NaN  22.977308
208   C38423-02926         PC1  27.538157  29.667694  26.045721        NaN
209   C38423-02926         PC2  25.121902  29.457567  24.011750        NaN
275   C38423-02927          NC        NaN        NaN        NaN  23.257782
276   C38423-02927         pc1  28.222164  29.850914  25.386547        NaN
277   C38423-02927         pc2  25.479877  29.424662  23.415874        NaN
348   C38423-02928          NC        NaN        NaN        NaN  23.844318
349   C38423-02928          PC  28.788754  29.896276  25.801615        NaN
350   C38423-02928        PC-1  28.142817  29.758322  26.270666        NaN

In [7]:
ORF1ab = list(df["ORF1ab Ct"])
ORF1ab = [ct for ct in ORF1ab if not(pd.isnull(ct)) == True]
print("ORF1ab", ORF1ab)

Ngene = list(df["N gene Ct"])
Ngene = [ct for ct in Ngene if not(pd.isnull(ct)) == True]
print("Ngene", Ngene)

Sgene = list(df["S gene Ct"])
Sgene = [ct for ct in Sgene if not(pd.isnull(ct)) == True]
print("Sgene", Sgene)

MS2 = list(df["MS2 Ct"])
MS2 = [ct for ct in MS2 if not(pd.isnull(ct)) == True]
print("MS2", MS2)

ORF1ab [29.406336, 29.392448, 28.969862, 28.544476, 27.966673, 28.443363, 27.538157, 25.121902, 28.222164, 25.479877, 28.788754, 28.142817]
Ngene [29.924595, 30.365715, 29.84238, 29.958744, 29.889332, 29.385735, 29.667694, 29.457567, 29.850914, 29.424662, 29.896276, 29.758322]
Sgene [28.630323, 29.23348, 28.33817, 28.318045, 26.78455, 24.890034, 26.045721, 24.01175, 25.386547, 23.415874, 25.801615, 26.270666]
MS2 [22.610998, 23.259083, 23.015373, 23.483229, 23.25667, 22.664686, 22.850267, 22.977308, 23.257782, 23.844318]